<p>You can reset your password for Free Objectivist Books using this link:</p>

<p><%= link_to "Reset my password", @url %></p>

<p>Thanks,<br>
Free Objectivist Books<br>
<%= link_to "http://freeobjectivistbooks.org", root_url %>
</p>
