<% content_for :title do %>Sign Up to Donate<% end %>

<% content_for :stylesheet do %>
.pledge-explanation {
    padding-top: 10px;
}

.submit {
    height: 56px;
    border: 0;
    margin-top: 24px;
    background: url(/assets/signup-button-composite.png) no-repeat top;
}
.submit:hover { background: url(/assets/signup-button-composite.png) no-repeat center; }
.submit:active { background: url(/assets/signup-button-composite.png) no-repeat bottom; }
<% end %>

<h1 class="grid_16">Sign Up to Donate Objectivist Books</h1>

<form>
    <h2 class="grid_16">Public profile</h2>

    <label class="grid_5" for="name">Name</label><div class="clear"></div>
    <input class="grid_5" id="name" name="name" type="text" placeholder="Individual or couple">
    <div class="clear"></div>

    <label class="grid_5" for="location">Location</label><div class="clear"></div>
    <input class="grid_5" id="location" name="location" type="text" placeholder="City and state or country">
    <div class="clear"></div>

    <h2 class="grid_16">Private account info</h2>

    <label class="grid_5" for="email">Email</label><div class="clear"></div>
    <input class="grid_5" id="email" name="email" type="text"><div class="clear"></div>

    <label class="grid_5" for="password">Password</label><div class="clear"></div>
    <input class="grid_5" id="password" name="password" type="password" placeholder="So you can log in later">
    <div class="clear"></div>

    <label class="grid_5" for="confirm_pw">Confirm password</label><div class="clear"></div>
    <input class="grid_5" id="confirm_pw" name="confirm_pw" type="password"><div class="clear"></div>

    <h2 class="grid_16">Your pledge</h2>
    <label class="grid_8">
        I pledge to donate <input name="pledge" type="text" value="5" size="1"> books to students.
    </label>
    <div class="clear"></div>
    <p class="grid_8 pledge-explanation">We'll send you a link to browse students and their requests, and you will
        send the books to them directly. You can usually buy books for $5 to $10 a copy.
    </p>
    <div class="clear"></div>

    <h2 class="grid_16">Why do you want to donate Objectivist books? (optional)</h2>

    <textarea class="grid_8" name="reason" cols="35" rows="6"></textarea>
    <div class="clear"></div>

    <input class="grid_4 submit" type="submit" value=""><div class="clear"></div>
</form>
