<% content_for :title do %>Sign Up to Read<% end %>

<% content_for :stylesheet do %>
.submit {
    height: 56px;
    margin-top: 24px;
    background-image: url(/assets/get-book-button.png);
}
<% end %>

<h1 class="grid_16">Sign Up for Your Free Objectivist Book</h1>

<form>
    <h2 class="grid_16">What book do you want to read?</h2>
    <label class="grid_8">
        <input name="book" type="radio" value="atlas-shrugged" checked>
        Atlas Shrugged (start here if you don't know what to choose!)
    </label>
    <div class="clear"></div>
    <label class="grid_8"><input name="book" type="radio" value="fountainhead"> The Fountainhead</label>
    <div class="clear"></div>
    <label class="grid_8"><input name="book" type="radio" value="wtl"> We the Living</label>
    <div class="clear"></div>
    <label class="grid_8"><input name="book" type="radio" value="vos"> The Virtue of Selfishness</label>
    <div class="clear"></div>
    <label class="grid_8"><input name="book" type="radio" value="cui"> Capitalism: The Unknown Ideal</label>
    <div class="clear"></div>
    <label class="grid_8">
        <input name="book" type="radio" value="opar"> Objectivism: The Philosophy of Ayn Rand (by Leonard Peikoff)
    </label>
    <div class="clear"></div>
    <label class="grid_8">
        <input name="book" type="radio" value="other"> Other: <input name="other_book" type="text" size="50">
    </label>
    <div class="clear"></div>

    <h2 class="grid_16">Why do you want to read it?</h2>

    <textarea class="grid_8" name="reason" cols="35" rows="6"></textarea>
    <div class="clear"></div>

    <h2 class="grid_16">Public profile</h2>

    <label class="grid_5" for="name">Name</label><div class="clear"></div>
    <input class="grid_5" id="name" name="name" type="text"><div class="clear"></div>

    <label class="grid_5" for="school">School</label><div class="clear"></div>
    <input class="grid_5" id="scholl" name="school" type="text" placeholder="College, university or high school">
    <div class="clear"></div>

    <label class="grid_5" for="studying">Studying</label><div class="clear"></div>
    <input class="grid_5" id="studying" name="studying" type="text"
        placeholder="E.g., architecture, philosophy, business">
    <div class="clear"></div>

    <label class="grid_5" for="location">Location</label><div class="clear"></div>
    <input class="grid_5" id="location" name="location" type="text" placeholder="City and state or country">
    <div class="clear"></div>

    <h2 class="grid_16">Private account info</h2>

    <label class="grid_5" for="email">Email</label><div class="clear"></div>
    <input class="grid_5" id="email" name="email" type="text"><div class="clear"></div>

    <label class="grid_5" for="password">Password</label><div class="clear"></div>
    <input class="grid_5" id="password" name="password" type="password" placeholder="So you can log in later">
    <div class="clear"></div>

    <label class="grid_5" for="confirm_pw">Confirm password</label><div class="clear"></div>
    <input class="grid_5" id="confirm_pw" name="confirm_pw" type="password"><div class="clear"></div>

    <label class="grid_5" for="address">Mailing address (for the book)</label><div class="clear"></div>
    <textarea class="grid_5" id="address" name="address" cols="35" rows="5"></textarea>
    <p class="grid_4">Only shared with your donor. You can enter this later.</p>
    <div class="clear"></div>

    <h2 class="grid_16">Your pledge</h2>

    <label class="grid_8">
        <input name="pledge" type="checkbox"> I pledge to read this book if a donor sends it to me.
    </label>
    <div class="clear"></div>

    <input class="grid_4 submit button" type="submit" value=""><div class="clear"></div>
</form>
