<% content_for :title do %>Admin<% end %>

<% content_for :stylesheet do %>
<style>
h2 {
    margin-top: 24px;
    margin-bottom: 12px;
}

.overview {
    font-size: 1.5em;
}
</style>
<% end %>

<div class="grid_16">
    <h1>Admin</h1>

    <p class="overview"><%= @request_total %> books requested, <%= @pledge_total %> pledged</p>

    <h2>Requests</h2>

    <%= render partial: "admin/request", collection: @requests, spacer_template: "spacer" %>

    <h2>Pledges</h2>

    <%= render partial: "admin/pledge", collection: @pledges, spacer_template: "spacer" %>
</div>
