<div class="review">
    <p class="headline"><%= admin_user_link review.user %> read <%= title review.book %></p>
    <p class="text"><%= format_block review.text %></p>
    <p class="timestamp"><%= l review.created_at %></p>
</div>
<div class="clear"></div>
