<style>
h1 {
    text-align: center;
    font-size: 4.5em;
    margin-top: 12px;
}

h2 {
    margin-top: 24px;
    margin-bottom: 12px;
}

.sitedesc {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 24px;
}

.content {
    background: url(/assets/content-bg-middle.png) repeat-y;
    padding: 18px 0;
}

.button {
    margin-top: 24px;
    margin-bottom: 12px;
    height: 116px;
}

.read { background: url(/assets/read-button-composite.png) no-repeat top; }
.read:hover { background: url(/assets/read-button-composite.png) no-repeat center; }
.read:active { background: url(/assets/read-button-composite.png) no-repeat bottom; }

.donate { background: url(/assets/donate-button-composite.png) no-repeat top; }
.donate:hover { background: url(/assets/donate-button-composite.png) no-repeat center; }
.donate:active { background: url(/assets/donate-button-composite.png) no-repeat bottom; }

a.signup {
    font-family: 'gill sans', helvetica, sans-serif;
}
</style>

<div class="container_24">
    <h1>Free Objectivist Books for Students</h1>

    <p class="sitedesc">Get any Ayn Rand novel or book about Objectivism for free. You just have to pledge to read it.</p>

    <img src="assets/content-bg-top.png">
    <div class="content">
        <img class="prefix_4 grid_7" src="http://ecx.images-amazon.com/images/I/5139Z9VGNGL.jpg">
        <img class="prefix_2 grid_7" src="http://ecx.images-amazon.com/images/I/51Y2mOswJIL.jpg">
        <div class="clear"></div>

        <a class="prefix_4 grid_7" href="/signup/read"><div class="read button"></div></a>
        <a class="prefix_2 grid_7" href="/signup/donate"><div class="donate button"></div></a>
        <div class="clear"></div>

        <p class="prefix_4 grid_7 detail">Simply pledge to read <span class="title">Atlas Shrugged,</span>
            <span class="title">The Fountainhead,</span> or any other Objectivist book. We'll match you with a donor who
            will send you the book for free. <a class="signup" href="/signup/read">Sign up now &raquo;</a>
        </p>
        <p class="prefix_2 grid_7 detail">Want to give the gift of Objectivism to eager students? A few minutes and a few
            dollars could put a book by Ayn Rand in the hands of a student who will read it.
            <a class="signup" href="/signup/donate">Sign up to donate &raquo;</a>
        </p>
        <div class="clear"></div>

        <h2 class="prefix_4 grid_16">What recipients are saying</h2>
        <div class="clear"></div>

        <div class="thankyou">
            <div class="prefix_4 grid_2"><img src="assets/profile.jpg"></div>
            <div class="grid_14">
                <p class="text">I am so excited about learning something new and appreciative of the generosity that
                    will lead me down a new road of discovery. I will pay it forward with both the ideals shared as well
                    as the kindness which allowed for the exchange. Please know that you are appreciated and that I believe
                    changing the world often comes one book at time.
                </p>
                <p class="attribution">Felicia N., Katy, TX</p>
            </div>
        </div>
        <div class="clear"></div>

        <img class="prefix_4 grid_16 hr" src="assets/hr.png">
        <div class="clear"></div>

        <div class="thankyou">
            <div class="prefix_4 grid_2"><img src="assets/profile.jpg"></div>
            <div class="grid_14">
                <p class="text">I have been an avid Rand enthusiast, ever since I read Atlas Shrugged at the age of
                    fifteen. It changed my life, and since then, I've pushed myself as never before. ... I am incredibly
                    excited to read this book, further my understanding of a wonderful philosophy, and better know myself
                    in the process. Thank you, again, for making that possible for me.
                </p>
                <p class="attribution">Pooja S., Stanford University</p>
            </div>
        </div>
        <div class="clear"></div>

        <img class="prefix_4 grid_16 hr" src="assets/hr.png">
        <div class="clear"></div>

        <div class="thankyou">
            <div class="prefix_4 grid_2"><img src="assets/profile.jpg"></div>
            <div class="grid_14">
                <p class="text">I can't describe how great I think it is what you do&mdash;giving away Objectivist books
                    so that people will get to know (more of) Objectivism. ... When I see people like you, doing such
                    things, it kind of gives me hope for my future&mdash;hope more like motivation, based on the few great
                    things people have done for me. I don't think I can thank you enough in an email but, I believe, you
                    have your selfish benefit from this giveaway, too. So Thank You!
                </p>
                <p class="attribution">Daniel K., Pernik, Bulgaria</p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <img src="assets/content-bg-bottom.png">

    <p>&nbsp;</p>
</div>
