<% content_for :title do %>Donate<% end %>

<% content_for :stylesheet do %>
<style>
.button, .loading {
    height: 56px;
}

.button {
    background-image: url(/assets/donate-one-button.png);
}

.center {
    margin-top: 5px;
}

.sidebar li {
    margin-left: 18px;
    padding: 3px 0;
}

.fixed {
    position: fixed;
}

.any-donations {
    display: none;
}
</style>
<% end %>

<h1 class="grid_16">Donate</h1>

<div class="grid_16 overview">
    <% if @requests.any? %>
    <p>These students have pledged to read Objectivist books. Choose which ones you want to fulfill.</p>
    <% else %>
    <p>All student requests have been granted for now! Check back soon for more eager minds.</p>
    <% end %>
</div>

<% if @requests.any? %>
<div class="grid_11 center">
    <%= render @requests %>
</div>
<% end %>

<div class="grid_5 sidebar">
    <div class="grid_5 fixed">
        <div class="top_5">&nbsp;</div>
        <div class="content_5">
            <h2>Your donations</h2>
            <% if @pledge %>
            <p>You have pledged to donate <%= @pledge.quantity %> books.</p>
            <% end %>
            <p class="no-donations">
                <% if @donations.any? %>
                You previously donated <%= pluralize @donations.count, 'book' %>.
                <% else %>
                You haven't donated any books yet.
                <% end %>
            </p>
            <p id="promise-header" class="any-donations">You just promised:</p>
            <ul id="donations-list" class="any-donations"></ul>
            <p class="any-donations"><%= link_to 'See student addresses and send books', donations_path %></p>
        </div>
        <div class="bottom_5">&nbsp;</div>
    </div>
</div>

<% content_for :javascript do %>
<script>
$(document).ready(function () {
    var donations = 0;

    $('div.request').handleAjax(function (event, response, status, xhr) {
        var donation = response;
        donations += 1;
        $(this).fadeAndSlide();
        $('#promise-header').text("You just promised " + donations + " book" + (donations === 1 ? "" : "s") + ":");
        $('#donations-list').append('<li><span class="title">' + donation.book + '</span> to ' +
            donation.user.name + ' in ' + donation.user.location + '</li>');
        $('#donations-list li').last().hide().fadeAndSlide();
        $('.no-donations:visible').fadeAndSlide();
        $('.any-donations:not(:visible)').fadeAndSlide();
    });
});
</script>
<% end %>
