<% content_for :title do %>Request a Book<% end %>

<h1 class="grid_16">One request at a time</h1>

<div class="grid_12">
    <p class="overview">You already have an open request for <%= title @request.book %>. When we find a donor for this book,
        you can request another one.
    </p>
</div>
