<% content_for :title do %>Referrals – Admin<% end %>

<% content_for :stylesheet do %>
<style>
td, th {
    padding-right: 12px;
}
</style>
<% end %>

<h1 class="grid_16">Referrals</h1>
<div class="grid_12">
    <% @metrics.referral_metrics_keys.each do |key| %>
    <h2><%= key[:source] %>: <%= key[:medium] %></h2>
    <div class="overview">
        <%= render partial: "metrics", object: @metrics.referral_metrics(key) %>
    </div>
    <% end %>
</div>
