<% content_for :title do %>Reset Expired<% end %>

<h1 class="grid_16">Reset link expired</h1>

<p class="grid_8">
    That password reset link has expired.
    <%= link_to 'Request another link', forgot_password_path %>.
</p>
