<% content_for :title do %>Password Reset Sent<% end %>

<h1 class="grid_16">Reset sent</h1>

<p class="grid_8">
    We sent a password reset email to you at <%= @user.email %>. Use the link in that email to reset your password.
</p>
