<% content_for :title do %>Error<% end %>

<% content_for :stylesheet do %>
<style>
img {
    margin-top: 20px;
}
.quote {
    font-style: italic;
    margin-top: 12px;
    margin-bottom: 12px;
}
</style>
<% end %>

<img class="grid_4" src="http://ecx.images-amazon.com/images/I/5139Z9VGNGL.jpg">
<div class="grid_8">
    <h1>Unexpected error</h1>
    <p class="quote">He stood like a man who knew that he was right. "I will put an end to this, once and for all," he
        said. ... "I will stop the motor of the world."
    </p>
    <p>Someone has stopped the motor of this website. Sorry! Try again or email me at
        <%= mail_to "jason@rationalegoist.com", "jason@rationalegoist.com" %> for help.
    </p>
</div>
