<p><%= @event.student.name %> has finished reading <%= @event.book %>!<% if @review %> Here's what they thought of it:</p>

<p>"<%= format_block @review.text %>"<% end %></p>

<p>Thank you for being a donor on Free Objectivist Books.</p>

<p><strong><%= link_to 'Find more students to donate to', donate_url %></strong></p>
