<p><%= @event.request.user.name %> has received <i><%= @event.request.book %>!</i></p>

<p>
    <% if @event.message.present? %>
    They said: "<%= format_block @event.message %>"
    <% else %>
    Thank you for being a donor on Free Objectivist Books.
    <% end %>
</p>

<p><strong><%= link_to 'Find more students to donate to', donate_url %></strong></p>
