<p><%= @event.donor.name %> has sent you <%= @event.book %>!</p>

<p><strong><%= link_to "Let #{@event.donor.name} know when you have received this book",
    edit_donation_status_url(@event.donation, status: "received") %></strong>
</p>
