<p><%= @event.donor.name %> has sent you <%= @event.request.book %>! It should arrive soon (you may have received it already).</p>

<% if @event.request.needs_thanks? %>
<p><%= link_to "Thank #{@event.donor.name}", edit_request_url(@event.request, type: "thank") %></p>
<% end %>
