<p>Have you received <i><%= @donation.book %></i> yet?</p>

<p><%= @donation.donor.name %> has sent you this book (confirmed on <%= l @donation.sent_at.to_date, format: :short %>).
    When you receive, please confirm on Free Objectivist Books:
</p>

<p><strong>
    <%= link_to (raw "Yes, I have received <i>#{@donation.book}</i>"), edit_donation_status_url(@donation, status: "received") %>
</strong></p>

<p>That will let us know for our records, and also notify your donor.</p>
