body {
    font-family: georgia, serif;
    background: url(background.jpg);
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 0px;
}

h1, h2, h3, h4, h5, h6, label, .header {
    font-family: 'gill sans', helvetica, sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 3em;
}

p {
    line-height: 1.4;
    margin-bottom: 6px;
}

a {
    color: #0A1E89;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #1636EC;
}

.button {
    border: 0;
    background-repeat: no-repeat;
    background-position: top;
    background-color: transparent;
}
.button:hover { background-position: center; }
.button:active { background-position: bottom; }

label {
    font-size: 1.1em;
}

.title {
    font-style: italic;
}

.header {
    background-color: #16711f;
    height: 40px;
    color: white;
    padding-left: 10px;
}

.header a {
    color: white;
}

.header .home {
    font-size: 2em;
    text-decoration: none;
}

.header .topnav {
    float: right;
    font-size: 1.1em;
    margin: 10px;
}

.thankyou img {
    width: 100%;
    border: 1px solid #c8c8c8;
}

.thankyou .text {
    margin-bottom: 5px;
}

.thankyou .attribution {
    color: #000080;
    margin-bottom: 1px;
}

.thankyou .date {
    color: #707070;
    margin-bottom: 0;
}

.hr {
    height: 1px;
    padding: 12px 0;
}

.errorExplanation, .field_with_errors {
    color: #d80000;
}

div.field_with_errors {
    display: inline;
}

div.errorExplanation {
    border: 1px solid #d80000;
    margin-top: 20px;
    padding: 6px 12px;
}

.errorExplanation h2 {
    margin-top: 0;
}

.errorExplanation ul {
    font-family: 'gill sans', helvetica, sans-serif;
    margin-bottom: 0;
}