/****************************************************************************************************/
/* Main */

body {
    font-family: georgia, serif;
    background: url(background.jpg);
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 0px;
}

h1, h2, h3, h4, h5, h6, label, .header {
    font-family: 'gill sans', helvetica, sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 3em;
}

p {
    line-height: 1.4;
    margin-bottom: 6px;
}

label {
    font-size: 1.1em;
}

/****************************************************************************************************/
/* Links */

a {
    color: #0A1E89;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #1636EC;
}

/****************************************************************************************************/
/* General styling */

.overview {
    font-size: 1.4em;
    margin-bottom: 24px;
}

.title {
    font-style: italic;
}

.hr {
    height: 1px;
    padding: 12px 0;
}

.headline {
    font-weight: bold;
}

.tagline {
    color: #006000;
}

.reason {
    margin-top: 6px;
    margin-bottom: 6px;
}

.timestamp {
    color: #707070;
}

/****************************************************************************************************/
/* Header */

.header {
    background-color: #16711f;
    height: 40px;
    color: white;
    padding-left: 10px;
}

.header a {
    color: white;
}

.header .home {
    font-size: 2em;
    text-decoration: none;
}

.header .topnav {
    float: right;
    font-size: 1.1em;
    margin: 10px;
}

/****************************************************************************************************/
/* Flash */

.flash {
    margin-top: 24px;
}

.flash :last-child {
    margin-bottom: 0;
}

/****************************************************************************************************/
/* Message boxes */

.message {
    border: 2px solid;
    background-position: 6px 4px;
    background-repeat: no-repeat;
    margin-bottom: 12px;
}

.message.error {
    border-color: #940e0a;
    background-color: #ffbcbd;
    background-image: url(/assets/error-icon.png);
}

.message.notice {
    border-color: #16711f;
    background-color: #b4fcbc;
    background-image: url(/assets/notice-icon.png);
}

.message p {
    padding: 4px 12px 4px 30px;
    margin-bottom: 0;
}

.message .headline {
    font-family: 'gill sans', helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.2em;
}

/****************************************************************************************************/
/* Sidebar */

.sidebar img {
    vertical-align: top;
}

.sidebar .top {
    background-image: url(/assets/content-bg-220-top.png);
}

.sidebar .bottom {
    background-image: url(/assets/content-bg-220-bottom.png);
}

.sidebar .content {
    padding: 0 24px;
    background-image: url(/assets/content-bg-220-middle.png);
}

.sidebar h2 {
    font-size: 1.6em;
    margin-top: 0;
}

.sidebar p {
    margin: 0;
    padding: 4px 0;
}

.sidebar ul {
    margin-bottom: 0;
}

/****************************************************************************************************/
/* Buttons */

.button {
    border: 0;
    background-repeat: no-repeat;
    background-position-y: top;
    background-color: transparent;
}
.button:hover { background-position-y: center; }
.button:active { background-position-y: bottom; }

/****************************************************************************************************/
/* Thank-you */

.thankyou img {
    width: 100%;
    border: 1px solid #c8c8c8;
}

.thankyou .text {
    margin-bottom: 5px;
}

.thankyou .attribution {
    color: #006000;
    margin-bottom: 1px;
}

/****************************************************************************************************/
/* Errors */

.errorExplanation, .field_with_errors {
    color: #d80000;
}

div.field_with_errors {
    display: inline;
}

div.errorExplanation {
    border: 1px solid #d80000;
    margin-top: 20px;
    padding: 6px 12px;
}

.errorExplanation h2 {
    margin-top: 0;
}

.errorExplanation ul {
    font-family: 'gill sans', helvetica, sans-serif;
    margin-bottom: 0;
}