<% content_for :title do %>Users – Admin<% end %>

<% content_for :stylesheet do %>
<style>
.user {
    margin-top: 12px;
}
.user p {
    margin-bottom: 0;
}
</style>
<% end %>

<h1 class="grid_16"><%= pluralize @users.count, 'user' %></h1>

<div class="grid_12">
    <%= render @users %>
</div>
