<% content_for :title do %>Users – Admin<% end %>

<% content_for :stylesheet do %>
<style>
.user {
    margin-top: 12px;
}
.user p {
    margin-bottom: 0;
}
</style>
<% end %>

<h1><%= pluralize @users.count, 'user' %></h1>

<%= render @users %>
