<p class="notes">If ordering online to ship directly to the student, you may need to put in a phone number. We don't collect
    student's phone numbers right now; it's best to enter your own number.
</p>
