<div class="testimonial">
    <div class="alpha grid_1">
        <img class="quote" src="/assets/left-quote.png">
    </div>

    <div class="alpha grid_11 omega left">
        <p class="text"><%= testimonial[:text] %><p>
        <p class="tagline"><%= testimonial[:attribution]%></p>
        <% if defined?(permalink) && permalink %>
        <p class="permalink"><%= link_to 'Permalink to share', "/testimonials/#{testimonial[:id]}" %></p>
        <% end %>
    </div>

    <div class="clear"></div>
</div>
