<div class="testimonial">
    <div class="alpha grid_1">
        <img class="quote" src="/assets/left-quote.png">
    </div>

    <div class="alpha grid_11 omega left">
        <p class="text"><%= testimonial[:text] %><p>
        <p class="tagline">
            <strong><%= testimonial[:name] %>,</strong> <%= testimonial[:attribution ]%> <%= title testimonial[:book] %>
        </p>
    </div>

    <div class="clear"></div>
</div>
