<div class="testimonial">
    <div class="alpha grid_1">
        <img class="quote" src="/assets/left-quote.png">
    </div>

    <div class="alpha grid_11 omega left">
        <div class="text"><%= markdown testimonial.text %></div>
        <div class="tagline"><%= markdown testimonial.attribution %></div>
        <% if defined?(permalink) && permalink %>
        <p class="permalink"><%= link_to 'Permalink to share', @testimonial %></p>
        <% end %>
    </div>

    <div class="clear"></div>
</div>
