<% content_for :title do %>Donor Testimonials<% end %>

<% content_for :stylesheet do %>
<style>
h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar p {
    font-size: 1.2em;
}
</style>
<% end %>

<h1 class="grid_16">What donors are saying about Free Objectivist Books</h1>

<div class="grid_12">
    <%= render partial: "testimonial", collection: @donors, locals: {permalink: true}, spacer_template: "requests/spacer" %>
</div>

<%= render 'sidebar' %>
