<!DOCTYPE html>
<html>
<head>
  <title>Free Ayn Rand and Objectivist Books for Students</title>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag "application" %>
</body>
</html>
